
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Object files
*.o

#Built executables
pcfg_guesser

# Ignore rulesets since I currently only plan on releasing them under the python
# pcfg toolset
Rules/*
Rules/
